# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Vite build outputs
dist/
dist-firefox/
.vite/

# OS metadata
.DS_Store
Thumbs.db

# Developer exporting files
*.zip

# Developer snippets of code examples
junk/

# Scratch files
diff.txt
tmp.html
image0.webp
Screenshot_*.webp

# Scratch area for local debugging files
scratch/
